.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 6rem;
  /* gap: 2rem; */
  /* overflow: hidden; */
}
.card {
  background-color: #111111;
  transform-style: preserve-3d;
  color: white;
  border-radius: 5%;
  /* padding: 2rem; */
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(255, 121, 248, 0.2);
  transition: transform 0.3s ease, box-shadow 0.5s ease;
  cursor: pointer;
  will-change: transform;
  padding: 0rem;
  border: 1px solid #a259ff;
}
.card:hover {
  transform: scale(1.05);
  background-color: #1c161f;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.card img {
  border-radius: 5%;
  height: 18rem;
  width: 30rem;
  margin: 0;
}
.card:hover .bolita {
  transform: rotate(10deg) scale(1.1);
}
#projects {
font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  padding: 0;
}

.github-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  border-radius: 9999px;
  padding: 0.7rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.github-popup:hover {
  transform: scale(1.2);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.github-popup img {
  width: 2.5rem;
  height: 2.5rem;
}
.card h4 {
    font-size: 2rem;
}
.card p {
    font-size: 1.5rem;
}
.card span{
    font-size: 1.2rem;
}
.proj p {
    color: rgb(223, 226, 255);
    font-size: 2rem;
    text-align: start;
    margin: 6rem;
    width: 60%;
    margin-left: 20rem;
}
.proj h1{
    text-align: start;
    margin: 6rem;
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-left: 20rem;
}
.proj h3 {
    font-size: 1.7rem;
    color: rgb(211, 215, 253);
    text-align: start;
    margin-left: 6rem;
    margin-bottom: 1rem;
    margin-left: 20rem;
    margin-top: 10rem;
}